.wrapper {
    padding: 25px;
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "nav" 60px 
        "main" 200px 
        "section" 150px 
        "footer" 80px
    ;
    
    & > * {
        box-shadow: 0px 6px 15px  rgba($color: $black, $alpha: 0.3);
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        color: $white;
    }



    & .header {
        background-color: #100deb;
        grid-area: header;
    }

    & .nav {
        background-color: #0debb7;
        grid-area: nav;
    }

    & .main {
        background-color: #bf0deb;
    }

    & .section {
        background-color: #ebca0d;
        grid-area: section;
    }

    & .footer {
        background-color: #eb0d23;
        grid-area: footer;
    }

    @media (min-width: 576px) {
        grid-template: 
            "header nav" 80px 
            "section main" 150px 
            "footer footer" 50px / 
            150px auto
        ;
        
    }

    @media (min-width: 768px) {
        grid-template: 
            "header header header" 100px 
            "nav main section" auto 
            "footer footer footer" auto /
            150px auto 200px

        ;
    }
}