html {
    scroll-behavior: smooth;
}
*, *::before, *::after {
    
    box-sizing: border-box;
}
body,
ul, 
ol, 
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}
img,
picture {
    max-width: 100%;
    display: block;
}

body {
    font-family: $main-font;
    background-color: $white!important;
}

section {
    padding: 4rem $pdx_container;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

i {
    color: $primary;
    font-size: 1.1rem;
}

.grid {
    display: grid;
}

@media (max-width:400px) {
    [class^="btn-"]{
      max-width: none!important;
      margin: 0!important;
    }
}

@media screen and (max-width:1100px) {
    section {
        padding: 5%;
    }
}





@include responsive-headings($base-font-size, 15);

h1,h2,h3,h4,h5 {
    color: $secondary;
}
h2 {
    font-weight: 700;
}
h3,h4,h5 {
    font-weight: 400;
}
h6{
    color: $primary;
    font-weight: 300;
    font-size: 1.7 * $font-px;
    text-transform: uppercase;
}
p {
    font-size: 0.9rem;
    color: $p_color;
}